.boxes
{
    background-color: black;
    height: 27.4vh;
    display: flex;
    padding: 1.5px;

    
}
.box{
    background-color: red;
    border: 2px solid black;
    width: 100%;
    display: flex;
    align-items: center;
}